/*from twitter*/

.old-front .loggedout .button.signin {
    -webkit-box-shadow: rgba(0,0,0,.75) 0 0 5px,rgba(255,255,255,.1) 0 1px 0 inset;
    box-shadow: rgba(0,0,0,.75) 0 0 5px,rgba(255,255,255,.1) 0 1px 0 inset;
}

.old-front .loggedout .button.signup {
    -webkit-box-shadow: rgba(0,0,0,.75) 0 0 5px,rgba(255,255,255,.2) 0 1px 0 inset;
    box-shadow: rgba(0,0,0,.75) 0 0 5px,rgba(255,255,255,.2) 0 1px 0 inset;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#59baff),to(#2477b2));
    background-image: -webkit-linear-gradient(top,#59baff,#2477b2);
    background-image: linear-gradient(to bottom,#59baff,#2477b2)
}

.timeline-head {
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#4c4c4c),to(#111));
    background-image: -moz-linear-gradient(top,#4c4c4c,#111);
    background-image: -ms-linear-gradient(top,#4c4c4c,#111);
}

.button.signup {
    background-color: #ffab23;
    background-image: 
    
    
    -webkit-gradient(linear,0 0,0 100%,from(#fe6),to(#ffab23));
    background-image: 

    
    -moz-linear-gradient(top,#fe6,#ffab23);
    background-image: 
    
    -ms-linear-gradient(top,#fe6,#ffab23);
    border: 1px solid;
    border-color: #cbbd55 #c9a239 #ca8a21

}


/*from google+*/
.left{
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.4);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.4);
}

.circle{
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
}
