    .play-control{
    animation-name: throw;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.59, 0.01, 0.87, 0.49);
    animation-delay: 2.55s;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-fill-mode: forwards;
    animation-play-state: initial;
    }
    
    @-webkit-keyframes throw {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%,-50%,100px);
        -ms-transform: translate3d(-50%,-50%,100px);
        -o-transform: translate3d(-50%,-50%,100px);
        transform: translate3d(-50%,-50%,100px)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
        -o-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0)
    }
}

@-o-keyframes throw {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%,-50%,100px);
        -ms-transform: translate3d(-50%,-50%,100px);
        -o-transform: translate3d(-50%,-50%,100px);
        transform: translate3d(-50%,-50%,100px)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
        -o-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0)
    }
}

@-moz-keyframes throw {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%,-50%,100px);
        -ms-transform: translate3d(-50%,-50%,100px);
        -o-transform: translate3d(-50%,-50%,100px);
        transform: translate3d(-50%,-50%,100px)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
        -o-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0)
    }
}

@keyframes throw {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%,-50%,100px);
        -ms-transform: translate3d(-50%,-50%,100px);
        -o-transform: translate3d(-50%,-50%,100px);
        transform: translate3d(-50%,-50%,100px)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
        -o-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0)
    }
}
